<div class="row edit-map-details">
  <div class="large-12 columns">
    <input type="text" placeholder="Nombre de la ruta...">
  </div>
  <div class="columns text-right fixed-column">
    <input id="privacidad" type="checkbox">
    <label class="radius secondary label" for="privacidad">
      <i class="fa fa-lock"></i> Privado
    </label>
  </div>
</div>
<div class="row collapse map-content">
  <div class="large-12 columns" role="content">
    {{map-box}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    <textarea placeholder="Descripción (opcional)"></textarea>
  </div>
</div>
