<div class="row collapse">
  <div class="small-2 medium-2 columns">
    <span class="prefix">Título: </span>
  </div>
  <div class="small-10 medium-6 columns">
    <input type="text" placeholder="Nombre de la ruta">
  </div>
  <div class="medium-4 columns">
    <div class='row actions-bar icon-bar four-up' role='navigation'>
      <div class="medium-1 columns">
      {{#link-to "routes.create" class="item"}}
        <i class="fa fa-upload"></i>
        <label>Importar</label>
      {{/link-to}}
      </div>
      <div class="medium-1 columns">
      {{#link-to "routes.create" class="item"}}
        <i class="fa fa-files-o"></i>
        <label>Duplicar</label>
      {{/link-to}}
      </div>
      <div class="medium-1 columns">
      {{#link-to "routes.create" class="item"}}
        <i class="fa fa-trash-o"></i>
        <label>Eliminar</label>
      {{/link-to}}
      </div>
      <div class="medium-1 columns">
      {{#link-to "routes.create" class="item"}}
        <i class="fa fa-users"></i>
        <label>Compañeros</label>
      {{/link-to}}
      </div>
    </div>
  </div>
</div>
<div class="row collapse map-content">
  <div class="large-11 columns" role="content">
    {{map-box}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    <textarea placeholder="Descripción de la ruta"></textarea>
  </div>
</div>
