<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li>{{#link-to "index" class="button"}}Inicio{{/link-to}}</li>
        <li>{{#link-to "routes" class="button"}}Rutas{{/link-to}}</li>
        <li>{{#link-to "routes.create" class="button"}}Crea tu ruta{{/link-to}}</li>
      </ul>
    </div>
    <h1 class="title"><i class="fa fa-bicycle"></i> Bicio <small class="subtitle">Arma tu ruta</small></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    {{outlet}}
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
